<h1>Global Styles Bug</h1>
<p>Global styles are lost in another page after the refresh.</p>
<p>Click <a href="/contact">here</a> and reload the page. The background animation and other styles from global styles will be lost.</p>

<style>
	@keyframes gradient {
		0% {
			background-position: 0 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0 50%;
		}
	}

	@-webkit-keyframes gradient {
		0% {
			background-position: 0 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0 50%;
		}
	}

	:global(html, body) {
		margin: 0;
		padding: 0;
	}

	:global(body) {
		background: linear-gradient(-39deg, #2c272b, #17b475, #c00c0c);
		background-size: 10000% 10000%;
		animation: gradient 8s ease infinite;
		-webkit-animation: gradient 8s ease infinite;
	}
</style>
